{
	"presets": [
		[
			"env",
			{
				"targets": {
					"browsers": [
						"last 2 versions",
						"ie >= 9",
						"iOS >= 9",
						"not OperaMini all",
						"android >= 4.1"
					]
				}
				// "modules": false
				// "debug": true
			}
		]
	]
}
