{
  "extends": ["airbnb"],
  "env": {
    "browser": true
  },
  "rules": {
      "no-console": 0,
      "no-tabs": 0,
      "indent": 0,
      "linebreak-style": 0,
      "max-len": 0,
      "func-names": 0,
      "no-mixed-operators": 0,
      "no-plusplus": 0,
      "no-alert": 0
  }
}
