/*-----------------------------------------------------------------------------
------------------------------------ COLORS -----------------------------------
-----------------------------------------------------------------------------*/
$white:							#ffffff;
$black:							#000000;
$grey:							#1e1e1e;
$red:							#e6194b;
$green:							#3cb44b;
$yellow:						#ffe119;
$blue:							#0082c8;
$orange:						#f58231;
$purple:						#911eb4;
$cyan:							#46f0f0;
$magenta:						#f032e6;
$lime:							#d2f53c;
$pink:							#fabebe;
$teal:							#008080;
$navy:							#000080;


/*-----------------------------------------------------------------------------
-------------------------------- MEDIA QUERIES --------------------------------
-----------------------------------------------------------------------------*/
// Small (0 - 600) - iPhone
// Medium (601 - 900) - iPad portrait
// Large (901 - 1200) - iPad landscape
// XLarge (1201 - 1500) - Desktop
// XXLarge (1501 - 1800) - Wide desktop
// XXLarge (1801 - *) - 4k+ desktop

/* MQ Screen Widths */
$mqSmallMin:					1px;
$mqSmallMax:					600px;

$mqMediumMin:					$mqSmallMax + 1px;
$mqMediumMax:					900px;

$mqLargeMin:					$mqMediumMax + 1px;
$mqLargeMax:					1200px;

$mqXLargeMin:					$mqLargeMax + 1px;
$mqXLargeMax:					1500px;

$mqXXLargeMin:					$mqXLargeMax + 1px;
$mqXXLargeMax:					1800px;

$mqXXXLargeMin:					$mqXXLargeMax + 1px;
$mqXXXLargeMax:					9999px;

/* Media Queries */
// http://www.paulund.co.uk/ios-media-queries-boilerplate
// $mqSmallAndUp:		'only screen';
// $mqSmallAndDown:		'only screen and (max-width: #{$mqSmallMax})';
$mqSmallOnly:					'only screen and (min-width: #{$mqSmallMin}) and (max-width: #{$mqSmallMax})';

$mqMediumAndUp:					'only screen and (min-width: #{$mqMediumMin})';
$mqMediumAndDown:				'only screen and (max-width: #{$mqMediumMax})';
$mqMediumOnly:					'only screen and (min-width: #{$mqMediumMin}) and (max-width: #{$mqMediumMax})';

$mqLargeAndUp:					'only screen and (min-width: #{$mqLargeMin})';
$mqLargeAndDown:				'only screen and (max-width: #{$mqLargeMax})';
$mqLargeOnly:					'only screen and (min-width: #{$mqLargeMin}) and (max-width: #{$mqLargeMax})';

$mqXLargeAndUp:					'only screen and (min-width: #{$mqXLargeMin})';
$mqXLargeAndDown:				'only screen and (max-width: #{$mqXLargeMax})';
$mqXLargeOnly:					'only screen and (min-width: #{$mqXLargeMin}) and (max-width: #{$mqXLargeMax})';

$mqXXLargeAndUp:				'only screen and (min-width: #{$mqXXLargeMin})';
$mqXXLargeAndDown:				'only screen and (max-width: #{$mqXXLargeMax})';
$mqXXLargeOnly:					'only screen and (min-width: #{$mqXXLargeMin}) and (max-width: #{$mqXXLargeMax})';

$mqXXXLargeAndUp:				'only screen and (min-width: #{$mqXXXLargeMin})';

$mqHighDensity:					'only screen and (-webkit-min-device-pixel-ratio: 2)',
	'only screen and (min--moz-device-pixel-ratio: 2)',
	'only screen and (-o-min-device-pixel-ratio: 2/1)',
	'only screen and (min-device-pixel-ratio: 2)',
	'only screen and (min-resolution: 192dpi)',
	'only screen and (min-resolution: 2dppx)';

$mqLandscape:					'only screen and (orientation: landscape)';
$mqPortrait:					'only screen and (orientation: portrait)';

$mqPrint:						'only print';


// This is here so we can turn on MQ combining.  It enforces the order of MQs

// Small
// @media #{$mqSmallAndUp} {
// 	.nothing {
// 		color: $white;
// 	}
// }
// @media #{$mqSmallAndDown} {
// 	.nothing {
// 		color: $white;
// 	}
// }

@media #{$mqSmallOnly} {
	.nothing {
		content: '1';
	}
}

// Medium
@media #{$mqMediumAndUp} {
	.nothing {
		content: '2';
	}
}

@media #{$mqMediumAndDown} {
	.nothing {
		content: '3';
	}
}

@media #{$mqMediumOnly} {
	.nothing {
		content: '4';
	}
}

// large
@media #{$mqLargeAndUp} {
	.nothing {
		content: '5';
	}
}

@media #{$mqLargeAndDown} {
	.nothing {
		content: '6';
	}
}

@media #{$mqLargeOnly} {
	.nothing {
		content: '7';
	}
}

// XLarge
@media #{$mqXLargeAndUp} {
	.nothing {
		content: '8';
	}
}

@media #{$mqXLargeAndDown} {
	.nothing {
		content: '9';
	}
}

@media #{$mqXLargeOnly} {
	.nothing {
		content: '10';
	}
}

// XXLarge
@media #{$mqXXLargeAndUp} {
	.nothing {
		content: '11';
	}
}

@media #{$mqXXLargeAndDown} {
	.nothing {
		content: '12';
	}
}

@media #{$mqXXLargeOnly} {
	.nothing {
		content: '13';
	}
}

// XXXLarge
@media #{$mqXXXLargeAndUp} {
	.nothing {
		content: '14';
	}
}
