<!doctype html>
<html dir="ltr" lang="en-GB" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">

		<!-- SEO -->
		<title>{{pageTitle}}</title>

		<!-- Styles  -->
		<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
		<link rel="stylesheet" href="/assets/css/styles.css">

		<!-- Touch icons and favicon -->
		{{> favicons }}
	</head>
	<body>
		<!-- SVG Sprite -->
		{{> svg-inline-sprite }}

		<!-- Main content -->
		<main tabindex="-1">
			{% body %}
		</main>

		<!-- Scripts -->
		<script src="/assets/js/app.bundle.js" defer></script>
	</body>
</html>
