#dan_info {
	position: fixed;
	bottom: 40px;
	right: 40px;
	left: 40px;
	// border: 10px solid red;
	background-color: #263C7D;
	color: white;
	border: 5px solid white;
	padding: 20px;
	border-radius: 10px;

	p {
		font-size: 16px;
		height: auto;
		margin: 0;

		+ p {
			margin-top: 1em;
		}
	}
}
